body {
    max-width: 100vw;
    
    
}

header {
    border: 1px solid black;
    background-color:#404040;
    color: whitesmoke;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

#logo {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logopic {
    width:100%;
    height: auto;
}



#title {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#spacer {
    /* border: 1px solid red; */
    width: 150px;
    height: 80px;
}

main {
    /* border: 1px solid green; */
    min-height: 100vh;
    background-image: url('/images/formBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#formBoxIn {
    border: 1px solid blue;
    background-color: whitesmoke;
    opacity: 0.95;
    max-width: 20vw;
    min-width: 10%;
    max-height: 250px;
    min-height: 250px;
    margin: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 120px;
    margin-bottom: 20vh;
    margin-right: 5vw;
    border-radius: 10px;
}

#myForm {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
} 

#formBoxOut {
    border: 1px solid blue;
    background-color: whitesmoke;
    opacity: 0.95;
    max-width: 20vw;
    min-width: 10%;
    max-height: 250px;
    min-height: 250px;
    margin: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 120px;
    margin-bottom: 20vh;
    margin-left: 5vw;
    border-radius: 10px;
}

/* #myChart {
    width: 200px;
} */

@media screen and (max-width 1305){
    main {
        border: 8px solid green;
        /* min-height: 100vh;
        background-image: url('/images/formBackground.jpg');
        background-size: cover;
        background-attachment: fixed;
        
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    
    }
    
    #formBoxIn {
        border: 1px solid blue;
        background-color: whitesmoke;
        opacity: 0.95;
        /* max-width: 20vw;
        min-width: 10%;
        max-height: 250px;
        min-height: 250px;
        margin: 20px;   */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        padding-bottom: 150px;
        border-radius: 10px;
    }
    
    #myForm {
        /* border: 3px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    } 
    
    #formBoxOut {
        border: 1px solid blue;
        background-color: whitesmoke;
        opacity: 0.95;
        /* max-width: 20vw;
        min-width: 90%;
        max-height: max-content;
        min-height: 250px;
        margin: 20px;   */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 100px;
        padding-bottom: 120px; */
       
        border-radius: 10px;
    }
    
}


    





/* #formPic {
    border: 1px solid red;
    width: 40%;
    height: 80%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */