body {
    
    
}

header {
    border: 1px solid black;
    background-color:#404040;
    color: whitesmoke;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

#logo {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logopic {
    width:100%;
    height: auto;
}



#title {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#spacer {
    /* border: 1px solid red; */
    width: 150px;
    height: 80px;
}

main {
    /* border: 1px solid green; */
    min-height: 1000px;
    background-image: url('/images/formBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    display: flex; 
    justify-content: center;
    align-items: center;

}

#menu {
    border: 1px solid green;

}




    



#formboxin {
    /* border: 1px solid blue; */
    background-color: whitesmoke;
    opacity: 0.95;
    width: 50%;
    max-height: 300px;
    min-height: 300px;
    margin: 50px;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin-bottom: 300px;
    border-radius: 10px;
}

#formboxout {
    /* border: 1px solid blue; */
    background-color: whitesmoke;
    opacity: 0.95;
    width: 50%;
    max-height: 300px;
    min-height: 300px;
    margin: 50px;  
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 100px;
    margin-bottom: 300px;
    margin-right: 120px;
    border-radius: 10px;
}

/* #formPic {
    border: 1px solid red;
    width: 40%;
    height: 80%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */