header {
    border: 1px solid black;
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    /* border: 1px solid red; */
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logopic {
    object-fit: contain;
}


#title {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#user {
    /* border: 1px solid red; */
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
}


#menu {
    border: 1px solid red;
    width: 20%;
}

.carousel {
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

#prev {
    max-width: 100%;
    max-height: 100%;
    op
}

#playing {
    max-width: 100%;
    max-height: 100%;
}

#next {
    max-width: 100%;
    max-height: 100%;
}