body  {
    background-image: url("/images/landingBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    /* border: 1px solid black; */
    
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    border: 1px solid red;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logopic {
    width:150px;
    height: auto;
    max-width:300px;
    max-height: 200px;
    /* object-fit: contain; */
}


#title {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    /* border: 1px solid red; */
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    border-radius: 10px;

}
.navButton:hover {
    background-color: aqua ;
    box-shadow: 0px 15px 20px rgba(140, 154, 148, 0.4);
    color: #fff;
    transform: translateY(-4px);
  }

main {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu {
    border: 1px solid red;
    width: 20%;
}

.carousel {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    max-width: 50%;
    max-height: auto;
   
    
}




.trackArt {
    border: 3px solid pink;
    width:100%;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }

.texts {
    
}

#controlPannel {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    
}